playwright
markdownify
beautifulsoup4
brotli
cffi
cssselect2
fonttools
greenlet
markdown
pillow
pycparser
pydyf
pyee
pyphen
six
soupsieve
tinycss2
tinyhtml5
typing_extensions
weasyprint
webencodings
zopfli
